
table {
    
    width:50%;
    margin: auto;
    float: left;
}

table, th, td {
    border: 1px solid black;
}

.serverTable legend {
    background-color: cornflowerblue;
}

.primaryColumn {
    background-color: mediumpurple;
    color: red;
}

.secondaryColumn {
    background-color: mediumspringgreen;
}