
/* Styling for selection boxes above the tables */
.product option {
}

/* Styling for the Save button */
.saveButtonDiv {
    position: relative;
    left: 115px;
    top: -50px;
}

.selectionTable {
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    width: 225px;

}
.radioArea {
    background-color: white;
}